 .Navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
  }
  
  .Navbar nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .Navbar nav ul li {
    margin: 1.5vw;
  }
  
  .Navbar li a {
    text-decoration: none;
    color: #3F485B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1rem;
  }
  
  .Navbar a:hover {
    color: #5a6783;
  }

  .Navbar button {
    width: 143px;
    height: 3rem;
    margin-left: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #C4D3F2;
    font-size: 1.2rem;
    font-weight: 400;
    color: #3F485B;
    text-align: center;
    letter-spacing: 0.1rem;
    border: none;
  }

  .Navbar button:hover {
    background-color: #F2C4D3;
    color: #3F485B;
    border: none;
    cursor: pointer;
  }
  

  .Navbar .MobileNavigation {
    display: none;
  }


  
  @media (max-width: 990px) {
    .Navbar .Navigation {
      display: none;
    }

    .Navbar .MobileNavigation{
        display: flex;
        align-items: center;
    }

    .Navbar .MobileNavigation .Burger {
        position: absolute;
        right: 5%;
        font-size: 40px;
        cursor: pointer;
        color: #3F485B;
      }

      .Navbar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background: #fff;
        border-top: 2px solid #3F485B;
        z-index: 1000;
      }

      .Navbar {
        opacity: 1;
      }
    }