.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  height: calc(100vh - 160px);
  width: 100vw;
}

.welcomebox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f7e868;
  height: 20vh;
  width: 80%;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 2rem;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  color: black;
}

.welcomebox img {
  width: auto;
  height: 350px;
  align-self: center;
  margin-right: 1rem;
  margin-top: 0;
}

.courses-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 15vh;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 2rem;
}


.courses {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.course {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: #f7af68;
  border-radius: 10px;
  width: 23%;
}

.fa-icon {
  font-size: 1.5rem;
  rotate: -45deg;
}

.course:hover {
  transform: scale(1.05);
  cursor: pointer;
}