:root {
  --gradient1: linear-gradient(116deg, #F76979 0%, #F7A069 100%);
  --gradient2: linear-gradient(116deg, #F7A069 0%, #F7E769 100%);
  --gradient3: linear-gradient(116deg, #F7E769 0%, #CBF785 100%);
  --gradient4: linear-gradient(116deg, #F76979 0%, #B56AD9 100%);
  --gradient5: linear-gradient(116deg, #B185F7 0%, #69F7E7 100%);
  --gradient6: linear-gradient(116deg, #69F7E7 0%, #CBF785 100%);
}

.title {
  color: #3F485B;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 30px;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1170px;
  width: 200vw;
  padding: 0 0 10rem;
}

.country-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.country-card {
  width: 337px;
  height: 200px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  border-radius: 14.21px;
  opacity: 0.8;
  background: var(--gradient1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.country-image-container {
  height: 100%;

}

.country-img {
  border-radius: 14.21px;
  border: 1px solid #0f5259;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  width: 100%;
  /* Ensure the image takes up the full width of its container */
}

.country-footer {
  color: black;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1px;
}

.country-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.country-link {
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .countries {
    width: 100vw;
  }

  .country-card {
    width: 100%;
  }

  .country-footer {
    font-size: 16px;
  }

  .title {
    font-size: 32px;
  }

  .country-img {
    width: 100%;
    max-width: 300px;
  }

  .country-card:hover {
    transform: none;
  }

}
