
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #9fd3cb;
    box-shadow: #0f5259 0 0 5px;
  }
  
  .header-logo img {
    width: auto;
    height: 4rem;
   padding-left: 2rem;
  }
  