.welcome {
  display: flex;
  flex-direction: column;
}
.section:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}
.section:nth-child(2) img{
    width: 50vw;
  }

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 90vh;
  align-items: center;
}

.section img {
  width: 30vw;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 500px;
  text-align: center;
  align-items: center;
}

.text h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  line-height: 46px;
  color: #0f5259;
  text-align: left;
  align-self: flex-start;
}

.text p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  color: #0f5259;
  text-align: left;
    align-self: flex-start;
}

.text button {
  margin-top: 30px;
}

/* .reverse {
  display: flex;
  flex-direction: row-reverse !important;
} */
