
.country-page-container {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 0 5rem;
}

.map-image {
  width: 25vw;
  height: auto;
  padding: 3rem 0;
  object-fit: contain;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  padding: 1rem 0.5rem;
  text-align: center;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 20px;
}

.container .title {
  color: #3F485B;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* padding-top: 50px; */
  padding-bottom: 10px;
  /* margin-top: 50px; */
}

.container p {
  padding: 0;
  font-size: 18px;
  margin: 0;
}

.img-container {
  position: relative;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin-left: 10px;
}

.img-container::after {
  border: 10px solid #8e6db3;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
  top: -15px;
  left: -15px;
  z-index: 0;
}

.country-image {
  width: 100%;
  z-index: 1;
  position: relative;
}


.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 85%;
  padding: 0 0.5rem;
  text-align: center;
  color: #fff;
  /* background-color: #fff; */
  border-radius: 0.5rem;
  /* box-shadow: 1px 1px 5px 0 #0f5259; */
}

.subtitle {
  color: #0f5259;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.text {
  color: #0f5259;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1170px;
  width: 60%;
  padding: 2rem 2rem 5rem;
  gap: 2rem;
}

.language-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  height: 100%;
  padding: 0 1rem;
  text-align: center;
  color: #fff;
  background-color: #e5e5e5;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 0 #a5a5a5;
  transition: transform 0.5s ease-in-out;
}

.language-card:hover {
  transform: scale(1.1);
}

.language-link {
  text-decoration: none;
}

.language-image-container {
  flex-shrink: 0;
}

.language-image-container img {
  font-size: 5rem;
  padding: 1rem;
  color: #9fd3cb;
  width: 80%;
  height: auto;
}

.language-footer {
  color: #0f5259;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1px;
}

@media screen and (max-width: 990px) {
  .country-page-container {
    flex-direction: column;
    height: auto;
    padding: 0 1rem 0 1rem;
  }

  .container {
    width: 90%;
  }

  .languages {
    min-width: 200px;
    max-width: 500px;
  }
  .language-card {
    width: 80%;
  }

  .info {
    flex-direction: column-reverse;
  }

  .info p {
    margin-bottom: 20px;
  }
  .information {
    width: 100%;
  }

  .map-image {
    display: none;
  }
}
