.quizResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    min-width: 600px;
    height: 90%;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}

.info .icon {
    padding: 20px 0;
    color: #6fb36d;
}

.info p {
    text-transform: none;
    padding-top: 0;
}

.results {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.results section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background-color: #e5e5e5;
    border-radius: 10px;
    width: 30%;
    height: 50%;
}

.results p{
    text-transform: none;
}

.results span {
    font-size: 30px;
}

.resultsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    height: 20%;
}

.resultsBtn button {
    background-color: #d8bfb7;
    width: 20%;
    margin: 0 10px;
}

.resultsBtn button:hover {
    background-color: #6fb36d;
    color: #ffffff;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .quizResults {
        width: 70%;
        min-width: 300px;
    }
    .info h1 {
        font-size: 26px;
    }
    .info .icon {
        font-size: 50px;
        padding: 10px 0;
    }
    .info h3 {
        font-size: 18px;
    }
    .info p {
        font-size: 16px;
        padding: 0;
    }

    .results {
        flex-direction: column;
        width: 100%;
        height: 80%;
        margin: 20px 0;
    }

    .results section {
        width: 40%;
        min-width: 150px;
        height: 50%;
        margin: 10px 0;
    }
    .results section h4 {
        font-size: 20px;
    }

    .results section p {
        font-size: 16px;
    }
    .results section span {
        font-size: 18px;
    }
    
}
