.parent-container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  align-items: center;
  justify-content: space-around;
}

.title {
  color: #0f5259;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 30px;
}

.subtitle {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.admin-container {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-items: top;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1170px;
  width: 200vw;
  padding: 0 0 10rem;
}

.options-container {
  display: flex;
  padding: 2rem;
  font-size: 1.8rem;
  flex-direction: column;
  text-align: left;
  color: black;
  background-color: white;
  border-radius: 10px;
  margin: 0.5rem;
  border: 1px solid #0f5259;
}

.selection-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 0;
}

.tools-container {
  display: flex;
  width: 100%;
  padding: 2rem;
  font-size: 1.8rem;
  flex-direction: column;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  margin: 0.5rem;
  border: 1px solid #0f5259;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

label {
  text-align: left;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: #0f5259;
  margin: 0.5rem;
  padding: 0.5rem;
  flex-basis: content;
}

select {
  width: 100%;
  padding: 1rem 14rem 1rem 13rem;
  border: 1px solid #0f5259;
  border-radius: 5px;
  font-size: 16px;
  flex-basis: content;
}

option {
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  color: black;
}

input[type="text"] {
  width: 100%;
  padding: 1rem 10rem 1rem 10rem;
  border: 1px solid #0f5259;
  border-radius: 5px;
  font-size: 16px;
  flex-basis: content;
}

.admin-button {
  width: max-content;
  align-self: right;
  background-color: #9fd3cb;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.8rem;
  border: none;
  font-size: 1.5rem;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.admin-button:hover {
  background-color: #104f45;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 900px) {
  .admin-container {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .options-container {
    width: 50%;
  }

  .selection-box {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .tools-container {
    width: 100%;
  }
}
